{% extends 'base.html.twig' %}

{% block title "FDA Inspections (Flex)" %}
{% block body %}

    Welcome!

    Database is
    {{ database }}

    <a class="btn btn-lg btn-primary" href="{{ path('easyadmin') }}">EasyAdmin</a>
{% endblock %}
